<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAEM Flower Shop</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbarl">
                <img src="/static/assets/logo.jpg" alt="logo">
                <p>BAEM Flower Shop</p>
            </div>
            <div class="navbarr">
                <a href="/reviews">Reviews</a>
                <a href="/edit_profile/{{session_id}}">Edit Profile</a>
                <a class="logout"href="/logout">Sign Out</a>
            </div>
        </div>
        <div class="links">
            <ul>
                <a href="https://www.ftd.com/flowers/roses/all?cid=ftddts&prid=ftddts">Rose</a>
                <a href="https://www.ftd.com/flowers/orchids?cid=ftddts&prid=ftddts">Orchid</a>
                <a href="https://www.ftd.com/search/aloe/prid=ftddts&cid=ftddts?cid=ftddts&prid=ftddts">Aloe</a>
                <a href="https://www.ftd.com/search/cactus?cid=ftddts&prid=ftddts">Cactus</a>
                <a href="https://www.ftd.com/flowers/daisies?cid=ftddts&prid=ftddts">Daisy</a>
                <a href="https://www.ftd.com/flowers/carnations?cid=ftddts&prid=ftddts">Carnation</a>
                <a href="https://www.ftd.com/flowers/tulips?cid=ftddts&prid=ftddts&q=tulip">Tulip</a>
            </ul>
        </div>
        <h2 id="head2">The Best Flowers You Can Get</h2>
        <div class="content">
            <div class="row1">
                <div>
                    <img src="./static/assets/home1.jpg" class="home1">
                </div>
                <div>
                    <img src="./static/assets/home5.JPG" class="home1">
                </div>
                <div>
                    <img src="./static/assets/home10.jpg" class="home1">
                </div>
                <div>
                    <img src="./static/assets/home2.jpg" class="home1">
                </div>
            </div>
            <div class="row2">
                <div class="contentl">
                    <div class="contentl1">
                        <img src="./static/assets/home8.jpg" alt="error1" class="home1">
                    </div>
                    <div class="contentl2">
                        <img src="./static/assets/home9.jpg" alt="error2" class="home1">
                    </div>
                </div>
                <div class="contentr">
                    <img src="./static/assets/prop1.jpg" class="home2">
                    <img src="./static/assets/home11.jpg" class="home2">
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div>
            <p>© 2022 Company, Inc</p>
        </div>
        <div>
            <img src="./static/assets/logo.jpg" class="logo">
        </div>
        <div class="footer-extra">
            <p>Features</p>
            <p>FAQs</p>
            <p>About</p>
            <p>Contact Us</p>
        </div>
    </div>
</body>
</html>