<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAEM Flower Shop - Reviews</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbarl">
                <img src="./static/assets/logo.jpg">
                <p>BAEM Flower Shop</p>
            </div>
            <div class="navbarr">
                <a href="/dashboard">Home</a>
                <a href="/edit_profile/{{session_id}}">Edit Profile</a>
                <a class="logout"href="/logout">Sign Out</a>
            </div>
        </div>
        <div class="content-review">
            <div class="content-reviewt">
                <form action="/submit_review" method="POST">
                    <div class="form-group">
                        <input type="hidden" name="id">
                        <label for="first_name" class="h3 mt-2">Review: </label>
                        <textarea class="form-control" name="description" rows="3"></textarea>
                    </div>
                    <input type="submit" id="review_btn" value="Add Review">
                </form>
            </div>
            <div class="content-reviewb">
                <h2>Reviews: </h2>
                {%for i in all_reviews%}
                <div class="review">
                    <p>Name: {{i.users.first_name}} {{i.users.last_name}}</p>
                    <p>Review: {{i.description}}</p>
                    <p>Posted on: {{i.created_at}}</p>
                    {%if i.users.id == session_id%}
                    <a href="/edit/review/{{i.id}}">Edit</a>
                    <a href="/delete/review/{{i.id}}">Delete</a>
                    {%endif%}
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <div class="footer">
        <div>
            <p>© 2022 Company, Inc</p>
        </div>
        <div>
            <img src="./static/assets/logo.jpg" class="logo">
        </div>
        <div class="footer-extra">
            <p>Features</p>
            <p>FAQs</p>
            <p>About</p>
            <p>Contact Us</p>
        </div>
    </div>
</body>
</html>