.container{
    min-height: 100vh;
    min-height: 100vw;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color:#fdfa72;
    align-items: center;
    padding-bottom: 10px;
}

.navbarl{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: larger;
    margin-left: 20px;
    display: flex;
    flex: 1;
}

.navbarl img{
    height: 50px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    align-items: center;
    margin-right: 5px;
}

.navbarl p{
    font-weight:bolder;
    font-size: larger;
    margin-top: 3px;
}

.navbarr{
    display: flex;
    flex: 1;
    justify-content: end;
    margin-right: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.navbarr a, .navbarr a:hover{
    margin-left: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-decoration: none;
}

.links ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    padding-top: 10px;
}

ul a,ul a:hover{
    text-decoration: none;
    color: black;
}

#head2{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.row1{
    display: flex;
    background-color: #fdfa72;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0px 40px;
}

.home1{
    height: 400px;
}

.home2{
    height: 200px;
}

.row2{
    display: flex;
    background-color: gray;
    margin: 0px 40px;
    margin-top: 30px;
    height: 400px;
}

.contentl{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

.contentr{
    flex: 1;
    height: 400px;
}

.content-reviewt{
    margin: 0px 40px;
}

.content-reviewt form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.content-reviewt form label{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.content-reviewt form input{
    margin-top: 5px;
}

.card{
    border: 1px solid gray;
    margin: 10px 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.card-body a, .card-body a:hover{
    text-decoration: none;
}

.content-reviewb h3{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer{
    background-color: #fdfa72;
    position: fixed;
    bottom: 0%;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.footer-extra{
    display: flex;
}

.footer-extra p {
    margin-right: 10px;
}

.logo{
    height: 40px;
}

#review_btn{
    width: 200px;
}